/* card flipper */
#card-grid{
    min-height: 300px;    
}

.flip-panel {
    position: relative;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    display: block;
}
/* -- make sure to declare a default for every property that you want animated -- */
/* -- general styles, including X axis rotation -- */
.flip-panel .front {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    width: inherit;
    height: inherit;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.flip-panel.flip .front {
    z-index: 900;
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
}

.flip-panel .back {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 800;
    width: inherit;
    height: inherit;
    -webkit-transform: rotateX(-180deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-transform: rotateX(-180deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.flip-panel.flip .back {
    z-index: 1000;
}

/* -- X axis rotation for click panel -- */
.flip-click .front {
    cursor: pointer;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
}
.flip-click.flip .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}
.flip-click .back {
    cursor: pointer;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
}
.flip-click.flip .back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
}

.flip-panel>div{
    width:90% !important;
    padding:5%;
}